

/* .red {
    background-color: red;
}

.blue {
    background-color: blue;
}

.green {
    background-color:green;
} */

ul {
    display:flex;
    justify-content: space-evenly;
    list-style-type:none;
    
}

NavLink {
    text-decoration: none;
} 
